body {
	position: relative;
	font-family: Century Gothic, sans-serif;
	text-align: center;
	width: 100%;
	margin: 0;
}

h1 {
	font-weight: 100;
	font-size: 21px;
	width: 90%;
	max-width: 1200px;
	margin: 25px auto;
	padding: 5px 7.5px 10px;
}

div {
	width: 90%;
	max-width: 300px;
	margin: 25px auto;
	padding-top: 10px;
	padding-bottom: 15px;
}

#rgbValueNowDiv {
	margin-top: 400px;
}

button {
	color: dodgerblue;
	font-size: 20px;
	text-shadow: -1px -1px 0px lightblue;
	padding-top: 5px;
	padding-bottom: 5px;
}

#rgbValueDiv {
	height: 45px;
	overflow: hidden;
}

#rgbValueDiv:active, #rgbValue:focus, #rgbValueDiv:hover {
	height: 215px;
}

#rgbTitle {
	color: dodgerblue;
	font-size: 22px;
	text-shadow: -1px -1px 0px lightblue;
	margin-top: 7.5px;
}

button,
h1,
div {
	background: rgba(255,255,255,0.3);
	box-shadow: 0 2px 2px white inset, 0 -2px 2px white inset;
}

a {
	text-decoration: none;
	color: dodgerblue;
	text-shadow: -2px -2px 0px lightblue;
	letter-spacing: 1px;
	font-size: 15px;
	transition: color .5s
}

#rgbTitle:active, #rgbTitle:focus, #rgbTitle:hover ,
button:active, button:focus, button:hover ,
a:active, a:focus, a:hover {
	color: white;
	text-shadow: -2px -2px 0px deepskyblue;
}

@media screen and (min-width: 750px) {
	body {
		height: 1000px;
	}

	h1 {
		font-size: 30px;
	}
	
	a {
		font-size: 20px;
	}
	
	#rgbValueNowDiv,
	#rgbValueDiv {
		position: absolute;
		top: 750px;
		margin: auto;
	}
	
	#rgbValueNowDiv {
		left: 50px;
	}
	
	#rgbValueDiv {
		right: 50px;
	}
}